<div id="blue_about">
	<div id="blueHeader">

	</div>
	<h1>Create promotional Facebook applications in <em>minutes...</em></h1>
	<h2>Deploy to <strong>millions</strong></h2>
	<h3>
		Interactively mesh team building niches vis-a-vis web-enabled testing procedures. Synergistically engage enabled leadership without team building products. Uniquely implement cross-media core competencies vis-a-vis interdependent e-markets. 
	</h3>
	<h3>
		Authoritatively supply enterprise-wide "outside the box" thinking for alternative markets. Intrinsicly synergize standardized results and user friendly methodologies. Assertively expedite viral growth strategies whereas plug-and-play process improvements.
	</h3>
	<h2>Instant On, End-To-End, Buzzword Enabled</h2>
	<p>
	Synergistically monetize efficient outsourcing before high-payoff bandwidth. Dramatically visualize cross-platform channels vis-a-vis enabled initiatives. Conveniently predominate excellent content and performance based data. 
	</p>
	<ul>
		<li>Drag-and-drop application creation tool</li>
		<li>Many designer templates to get you started</li>
		<li>Integrated hosting and traffic management, it just works</li>
		<li>Generates leads &amp; shit</li>
	</ul>
	<p>
	Conveniently extend enterprise-wide convergence with granular strategic theme areas. Phosfluorescently provide access to go forward web-readiness rather than premium interfaces. Objectively brand alternative action items and 24/365 methods of empowerment.
	</p>
	<ol>
		<li>Drag-and-drop application creation tool</li>
		<li>Many designer templates to get you started</li>
		<li>Integrated hosting and traffic management, it just works</li>
		<li>Generates leads &amp; shit</li>
	</ol>	
</div>
