<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MarketSocial</title>
	<meta name="description" content="">
	<meta name="author" content="Exploding Box Productions">	
	<link rel="stylesheet" href="/css/style.css?v=1">
	<script type="text/javascript" src="/javascript/mootools-core.js"></script>	
	<script type="text/javascript" charset="utf-8">
		window.addEvent('domready', function(){
		
		});		
	</script>
</head>
<body>
	<div id="marketsocial_header">
		<h1 id="logo">MarketSocial</h1>
		<div id="main_menu">
			<a href="/apps/blue" class="active">blue</a>
			<a href="/about">about</a>
			<a href="/contact">contact us</a>
			<a href="login.market-social.com">sign in</a>
		</div>
	</div>
	<div id="page">
		{{{yield}}}
	</div>
</body>
</html>