<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta name="description" content="">
	<meta name="author" content="Exploding Box Productions">	
	<link rel="stylesheet" href="/css/style.css?v=1">
	<script type="text/javascript" src="/javascript/mootools-core.js"></script>	
	<script type="text/javascript" charset="utf-8">
		window.addEvent('domready', function(){
		
		});		
	</script>
</head>
<body>
	<div id="page">
		{{{yield}}}
	</div>
</body>
</html>